{{#partial "title"}}
{{/partial}}
{{#partial "content"}}
<div class="container">
    <h2>UNENDANGERED SPECIES SIGHTINGS</h2> <hr>
    <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Animal id</th>
      <th scope="col">Animal Name</th>
      <th scope="col">Zone Sighted</th>
      <th scope="col">Time of Sight</th>
      <th scope="col"> </th>
      
    </tr>
  </thead>
  {{#if animals}}
  <tbody>
      {{#each animals}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{animalname}}</td>
      <td>{{location}}</td>
      <td>{{sightingtime}}</td>
      <td><a href="/animals/{{id}}/delete"><span class="glyphicon glyphicon-trash" aria-hidden="true">Delete</span></a></td>
      
    </tr>
{{/each}}
  </tbody>
  {{/if}}
    </table>
    <button class="btn btn-info btn-block"><a href="/animals/new">ADD ANIMALS</a></button>

</div>

{{/partial}}

{{> layout.hbs}}